<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981094374492-34jfu7irncidt29vq4olc49bvkatrb4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981094374492-34jfu7irncidt29vq4olc49bvkatrb4c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>981094374492-mt85lsk1gdokhdripcqbl0m33dvbirqr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWYy8TUwlSEpqOcxACVlJZShVDPNgp-ts</string>
	<key>GCM_SENDER_ID</key>
	<string>981094374492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buyselles.app</string>
	<key>PROJECT_ID</key>
	<string>buyselles-production</string>
	<key>STORAGE_BUCKET</key>
	<string>buyselles-production.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:981094374492:ios:81d33353ee4bdcaece5a99</string>
</dict>
</plist>
